BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakStringLiterals: false
ColumnLimit: 0
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Left
SpaceAfterTemplateKeyword: false
